<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords" content="instrumente muzicale, magazin muzica, 
                            chitara, pian, tobe, instrumente de suflat">
    <meta name="description"
        content="Magazin online specializat în instrumente muzicale pentru muzicieni amatori și profesioniști.">

    <title>Magazin online de instrumente muzicale: SoundMaster - <%- locals.prod.nume %></title>
    <%- include("../fragmente/head") %>
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
</head>

<%- include("../fragmente/header") %>
    <main>
        <section>
            <h2>Pagină produs</h2>

            <article id="art<%- locals.prod.id %>" class="<%- locals.prod.tip_produs.replace(/\s+/g,'_') %>">

                <h2><%- locals.prod.nume %></h2>
                <h3>Categorie: <%- locals.prod.tip_produs %></h3>
                <p><%- locals.prod.descriere %></p>

                <div>
                    <figure>
                        <img src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="<%- locals.prod.nume %>"/>
                    </figure>

                    <table>
                        <tr>
                            <td>Preț</td>
                            <td><%- locals.prod.pret %></td>
                        </tr>
                        <tr>
                            <td>Greutate</td>
                            <td><%- locals.prod.greutate %> g</td>
                        </tr>
                        <tr>
                            <td>Tip instrument</td>
                            <td><%- locals.prod.tip_produs %></td>
                        </tr>
                        <tr>
                            <td>Număr componente</td>
                            <td><%- locals.prod.nr_componente %></td>
                        </tr>
                        <tr>
                            <td>Categorie utilizare</td>
                            <td><%- locals.prod.categorie %></td>
                        </tr>
                        <tr>
                            <td>Materiale</td>
                            <td><%- locals.prod.materiale %></td>
                        </tr>
                        <tr>
                            <td>Electric</td>
                            <td><%- locals.prod.este_electric %></td>
                        </tr>

                        <tr>
                            <td>Data adăugare</td>
                            <td>
                                <% const d=new Date(locals.prod.data_adaugare); const
                                    zile=["Duminică","Luni","Marți","Miercuri","Joi","Vineri","Sâmbătă"]; const
                                    luni=["Ianuarie","Februarie","Martie","Aprilie","Mai","Iunie","Iulie","August","Septembrie","Octombrie","Noiembrie","Decembrie"];
                                    %>

                                    <time>
                                        <%= d.getDate() %>/<%= luni[d.getMonth()] %>/<%= d.getFullYear() %>
                                                    (<%= zile[d.getDay()] %>)
                                    </time>
                            </td>
                        </tr>
                    </table>
                </div>
            </article>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
        </body>

</html>