<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="keywords" content="instrumente muzicale, magazin muzica, 
                            chitara, pian, tobe, instrumente de suflat">
    <meta name="description"
        content="Magazin online specializat în instrumente muzicale pentru muzicieni amatori și profesioniști.">
    <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
    <title>Magazin online de instrumente muzicale: SoundMaster</title>
    <%- include("../fragmente/head") %>
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>

</head>

<body>


    <%- include("../fragmente/header") %>

        <main>

            <section id="filtre">
                <h2>Filtrează Instrumente</h2>

                <label> Nume:
                    <input type="text" id="inp-nume">
                </label>

                <label> Material (căutare rapidă):
                    <input list="lista-materiale" id="inp-material">
                    <datalist id="lista-materiale">
                        <option value="lemn paltin">
                        <option value="lemn molid">
                        <option value="lemn artar">
                        <option value="lemn mahon">
                        <option value="lemn mesteacan">
                        <option value="lemn plop">
                        <option value="lemn arin">
                        <option value="lemn frasin">
                        <option value="metal">
                        <option value="otel">
                        <option value="plastic">
                        <option value="cauciuc">
                        <option value="ebonita">
                    </datalist>
                </label>

                <br>

                <label> Greutate maximă:
                    <span>0</span>
                    <input type="range" id="inp-greutate" min="0" max="20000" value="20000">
                    <span>20000 <span id="val-greutate">(20000)</span></span>
                </label>

                <br>

                <div>
                    Tip instrument:
                    <label><input type="radio" name="gr_rad" value="toate" checked> Toate</label>
                    <label><input type="radio" name="gr_rad" value="piane"> Piane</label>
                    <label><input type="radio" name="gr_rad" value="chitare_si_basuri"> Chitare și basuri</label>
                    <label><input type="radio" name="gr_rad" value="tobe"> Tobe</label>
                    <label><input type="radio" name="gr_rad" value="instrumente_cu_coarde"> Coarde</label>
                </div>

                <br>

                <label> Descriere conține: <br>
                    <textarea id="inp-descriere"></textarea>
                </label>

                <br>

                <label> Categorie utilizare:
                    <select id="inp-categorie">
                        <option value="toate">oricare</option>
                        <option value="incepator">începător</option>
                        <option value="intermediar">intermediar</option>
                        <option value="profesionist">profesionist</option>
                        <option value="copii">copii</option>
                    </select>
                </label>

                <br>

                <label> Materiale (multiple):
                    <select id="inp-materiale" multiple>
                        <option value="lemn">lemn</option>
                        <option value="metal">metal</option>
                        <option value="plastic">plastic</option>
                        <option value="cauciuc">cauciuc</option>
                    </select>
                </label>

                <br>

                <label>
                    <input type="checkbox" id="inp-electric"> Doar electrice
                </label>

                <br>

                <p>
                    <button id="filtrare">Filtrează</button>
                    <button id="resetare">Resetează</button><br>
                    <button id="sortCrescNume">Sortează crescător</button>
                    <button id="sortDescrescNume">Sortează descrescător</button>
                </p>

                <p id="p-suma">
                    Apăsați Alt + "c" pentru suma prețurilor instrumentelor afișate.
                </p>
            </section>

            <section id="produse">

                <h2>Instrumente</h2>

                <div class="grid-produse">

                    <% for (let prod of locals.produse) { %>
                        <article class="produs">

                            <h3 class="nume">
                                Nume:
                                <a href="/produs/<%- prod.id %>">
                                    <span class="val-nume"><%- prod.nume %></span>
                                </a>
                            </h3>

                            <div class="info-prod">

                                <p class="pret">
                                    Preț: <span class="val-pret"><%- prod.pret %></span>
                                </p>

                                <p class="greutate">
                                    Greutate: <span class="val-greutate"><%- prod.greutate %> g</span>
                                </p>

                                <p class="nr_componente">
                                    Componente: <span class="val-nr"><%- prod.nr_componente %></span>
                                </p>

                            </div>


                            <p class="categorie">
                                Utilizare:
                                <span class="val-categorie"><%- prod.categorie %></span>
                            </p>


                            <p class="tip_produs">
                                Tip instrument:
                                <span class="val-tip"><%- prod.tip_produs %></span>
                            </p>


                            <p class="materiale">
                                Materiale:
                                <span class="val-materiale"><%- prod.materiale %></span>
                            </p>


                            <p class="electric">
                                Electric:
                                <span class="val-electric"><%- prod.este_electric %></span>
                            </p>


                            <figure>
                                <a href="/produs/<%- prod.id %>">
                                    <img src="/resurse/imagini/produse/<%- prod.imagine %>"
                                        style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" />
                                </a>
                            </figure>


                            <label class="selecteaza-cos">
                                Selectează:<br />
                                <input type="checkbox" class="select-cos" value="<%- prod.id %>" autocomplete="off">
                            </label>

                        </article>
                        <% } %>

                </div>

            </section>

        </main>

        <%- include("../fragmente/footer") %>
</body>

</html>